.container { max-width: 100%; }
body.no-sidebars .islandora-citation-content { float: none; width: 100%; }
body.no-sidebars .islandora-citation-sidebar { float: none; width: 100%; }
.islandora-citation-content { float: none; width: 100%; }
button.download {
  height: 40px;
  width: 145px;
  margin: 15px 0px 0px 7px;
  border-radius: 5px;
}
.islandora-basic-image-thumbnail { text-align: center; }
