.container { max-width: 100%; }
body.no-sidebars .islandora-citation-content { float: none; width: 100%; }
body.no-sidebars .islandora-citation-sidebar { float: none; width: 100%; }
.islandora-citation-content { float: none; width: 100%; }
