.dataTables_filter {
  width: 300px;
  float: none;
  text-align: left; }

table.dataTable tr {
background-color: white;
}

table.dataTable td {
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
}

table.dataTable tr.even td.sorting_1 {
background-color: white;
}

table.dataTable tr.odd td.sorting_1 {
background-color: white;
#background-color: rgb(245,245,245);
}
