/**
 * Islandoratheme islandoratheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

/* html wide Styles */

form { margin: 0 0 .5em }

/* Navigation Bar Styles */
#menu-bar { 
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 0;
}

#menu-bar div.contextual-links-wrapper {z-index: 500;}

#block-system-navigation ul, 
#block-system-navigation li, 
#block-system-navigation span, 
#block-system-navigation a {
  position: relative;
  z-index: 500;
}

#block-system-navigation > ul > li {
  float: left;
  z-index: 1001;
}

#block-system-navigation ul ul {  
  display: none;
  position: absolute;
  top: 48px;
  left: -1px;
  width: 100%;
  text-align: center;
  z-index: 1002;
}

#block-system-navigation li:hover ul {
  display: block;
  z-index: 1003;
}

#block-system-navigation:after, #block-system-navigation ul:after {
  content: '';
  display: block;
  clear: both;
}

#block-system-navigation a {
  display: inline-block;
  z-index: 4;
}

#block-system-navigation ul ul li {
  background: #000000;
}

#block-system-navigation ul ul li:hover {
  background: #636363;
}

#block-system-navigation ul ul li a {
  width: 250px;
  text-align: left;
}

#block-system-navigation ul ul li a.active {
  border-radius: 0!important;
}

/* Header Styles */

div#branding hgroup#name-and-slogan { display:none; }

#branding { padding: 0; z-index: -3; margin: 0px 20px; display: block; }

div#logo {z-index: -2; padding-right: 0px;}

div#logo img
{
  margin-left: 30px;
}

/* Basic Search Module Styles */
div#top-panels-wrapper {
  margin: 0;
}

div.at-panel .region-conditional-stack { display: inline; }
div#top-panels-wrapper .three-3x33 { margin: 0px 20px; height: 60px; } 
#block-islandora-solr-simple
{
  margin: -10px 0 2px 20px;
}

#block-islandora-solr-simple h2.block-title
{
  margin-right: 10px;
}

#islandora-solr-simple-search-form,
#block-islandora-solr-simple h2.block-title,
#block-islandora-solr-simple .block-content,
#block-islandora-solr-simple .block-content form,
#block-islandora-solr-simple .block-content input,
#block-islandora-solr-simple .form-item-islandora-simple-search-query,
#block-islandora-solr-simple .form-item-islandora-simple-collection
{
  display: inline-block;
  float: left;
}

#islandora-solr-simple-search-form
{
  max-width: 600px;
}

#block-islandora-solr-simple .form-item,
#block-islandora-solr-simple .form-action,
#block-islandora-solr-simple .form-submit
{
  margin: 0 0 0 10px;
}

#islandora-solr-view-all-objects
{
  float:right;
}

#islandora-solr-view-all-objects #all-objects-submit
{
  margin: 0 20px 0 0;
}

div.region-three-33-top 
{
margin: 0 20px;
padding: 10px 0px 0px 0px;   
}

/* Collection Browse Styles */
#local-search-container { float: right; width: 350px; margin: 0px 5px 15px 25px; padding: 5px 15px 5px 15px; }
#local-collection-search-form { text-align: right; min-width: 350px; }
#local-collection-search-form .search-input-text { margin-right: 8px; width: 200px;}
#local-collection-search-form .form-submit { width: 120px; margin: 0; }
.islandora-basic-collection-display-switch ul.links.inline { margin-right: 70px; }
.islandora-basic-collection-display-switch a.links.inline { text-decoration: underline; }

/* task bar styles */

#tasks { margin-top: 10px; }

/* sidebar styles */
.region-sidebar-first .region-inner {
  margin-left: 10px;
}

/* facet block styles */
.islandora-solr-facet-wrapper table
{
  margin: 0;
  border: none;
  border-collapse: separate;
}

.islandora-solr-facet-wrapper h4
{
  font-size: 1em;
}

.islandora-solr-facet-wrapper a
{
  font-size: 0.9em;
}

.islandora-solr-facet-wrapper .plusminus
{
  width: 20px;
}

.islandora-solr-facet-wrapper td
{
  padding: 2px 0 2px 8px;
}

.islandora-solr-facet-wrapper tr td:last-child
{
  border: none;
}

/* Highlighted Region Styles */
div.region-highlighted 
{
margin: 0px 20px 0px 20px; 
padding: 20px 20px 0px 20px;   
}

div.region-highlighted #block-block-1 { margin-right: 440px; }
div.region-highlighted #block-block-2 { float: right; width: 420px; padding-top: 10px; margin: 0; }
div.region-highlighted #block-block-2 h2.block-title { display: none; }
div.region-highlighted .block { clear: none; }

/* Object-wide displays */

dl.islandora-table-display dt, dl.islandora-table-display dd { display: inline; margin: 0; }
div.islandora-definition-row { margin-bottom: 10px; }
.islandora-title h3 { margin-bottom: 10px; }

/* Basic Image Module Styles */

div.islandora-basic-image-thumbnail
{
  float: right;
  margin-right: 12px;
}

/* Large Image Module Styles */
div.islandora-large-image-thumbnail
{
  margin-right: 12px;
}

/* PDF Module Styles */

.ui-widget-content a:hover
{
  text-decoration: underline;
}

/* Collection Browse Module Styles */

ul.links a
{
  text-decoration: underline;
}

ul.links a.active
{
  text-decoration: none;
  font-weight: bold;
}

/* Solr Search Module Styles */

section#block-islandora-solr-advanced
{
  margin: 0px 20px 20px 20px;
  border: 1px solid #04356c;
  padding: 20px 20px 0px 20px;
  border-radius: 6px 6px 6px 6px;
}

#block-islandora-solr-display-switch
{
  float: right;
  margin: 0;
}

ul.islandora-solr-display
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

ul.islandora-solr-display li
{
  display: inline;
}

ul.islandora-solr-display a
{
  text-decoration: underline;
}

ul.islandora-solr-display a.active
{
  text-decoration: none;
  font-weight: bold;
}

dd.dc-title a
{
  font-weight: bold;  
}

.islandora-basic-collection-list-item
{
  padding-bottom: 0px;
}

ul.islandora-solr-facet
{
  margin-left: 10px;
}

/* Search Results Styles */

.content-style
{
   overflow: auto;
   border: none;
}

/* First Sidebar Styles */

div.region-sidebar-first div.block-inner
{
  padding: 15px;
  margin-right: -20px;
}

div.region-sidebar-first .block
{
  margin-bottom: 0;
}

/* Footer Styles */

.islandora-object-branding
{
  margin-top: 10px;
  text-align: right;
}

.islandora-object-branding ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align:right;
}

.islandora-object-branding li
{
  display: inline;
  margin: 0px 0px 0px 25px;
}

