.container { max-width: 100%; }
body.no-sidebars .islandora-thesis-content { float: none; width: 100%; }
body.no-sidebars .islandora-thesis-sidebar { float: none; width: 100%; }
.islandora-thesis-content { float: none; width: 100%; }
