.container { max-width: 100%; }
body.no-sidebars .islandora-thesis-content { float: none; width: 100%; }
body.no-sidebars .islandora-thesis-sidebar { float: none; width: 100%; }
.islandora-thesis-content { float: none; width: 100%; }
button.download {
  float: right;
  height: 40px;
  width: 145px;
  margin: 15px 0px 0px 0px;
}

/* FSU Site specific CSS */
.site-name-fsudigitalflvcorg .typeOfResource { display: none; }
.site-name-fsudigitalflvcorg .genre { display: none; }
.site-name-fsudigitalflvcorg .issuance { display: none; }
.site-name-fsudigitalflvcorg .form { display: none; }
.site-name-fsudigitalflvcorg .extent { display: none; }
.site-name-fsudigitalflvcorg .language_text { display: none; }
