.container { max-width: 100%; }
body.no-sidebars .islandora-video-content { float: none; width: 100%; }
body.no-sidebars .islandora-video-sidebar { float: none; width: 100%; }
.islandora-video-content { float: none; width: 100%; }
